.navigation-container {
  top: 0;
  display: flex;
}

.navigation-items {
  padding: 16px;
}

.navigation-link {
  color: white !important;
  font-weight: bold !important;
}

.navigation-collapsed-menu {
  background-color: white !important;
}

.logo {
  width: 200px;
  height: 72px;
  color: white;
}
